.site-title {
	a, a:visited {
		color: #fff;
//		text-shadow: 0 0 0.4em #000;
		
		transition: 0.4s all ease;
		transition-property: opacity, transform;
		
		&:hover {
			opacity: 0.8;
			transform: scale(0.94);
		}
	}
}
:root:not(.home) {
	.u-NavSite__main {
		background: $cream;
	}
	.u-NavSite__secondary {
		.current-menu-item {
			& > a:hover, a:visited:hover {
				text-decoration: none;
			}
			& > a,
			& > a:visited {
				color: #fff;
			}
		}
	}
	.u-Masthead {
	    position: relative;
		z-index: 10;
	}
}


//	Top-level pages have background images
//	and yes, that second line is not pretty, but WP doesn't have a class for "this is a top-level
//	page without any children".

.page-parent,
.page:not(.home):not(.page-child) {
	.u-lHeader {
		background: var(--page-header-image);
		background-size: cover;
		background-position: center center;
	    position: relative;

		&:after {
		    position: absolute;
		    content: '';
		    height: 30%;
		    background: linear-gradient(to top, #000 0%, #000 40%, rgba(0,0,0,0) 100%);
		    opacity: 0.6;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		}
	}
}


//	Sub-pages do not have background images

.page-child {
	.u-lHeader,
	.u-NavSite__main {
	    position: relative;		
		background: $cream;

		&:after {
		    position: absolute;
		    content: '';
			background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
			height: 0.2em;
			opacity: 0.3;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		}
	}
}

.page-child {
	.site-title {
		a {
			color: #454545;
			background: linear-gradient(45deg, #641A2B 0%, #ed1c24 100%);
			-webkit-background-clip: text;
			color: transparent;
			position: relative;
		}
	}
}




.site-info {
	background: $VC__vassarVeryLightGray;	
}