
/*	Nav */
/*
.menu-toggle:before {
    content: '\2630 ';
    font-size: 2em;
}
.menu-toggle__text {
	@include hide-visually();
}
*/


.page__title {
	//	Fixes J getting cropped on the left
    padding-left: 0.1em;
}


//	This makes sure the page title doesn't wind up right against the sides of the screen



.alignright {
	float: right;
	clear: right;
	margin: 0 0 2em 2em;
}
.alignleft {
	float: left;
	clear: left;
	margin: 0 2em 2em 0;
}


/*	Note module (shipping & receiving) */
	
p.has-background {
	background: #fbf4ec !important;
    font-size: 90%;
    padding: 1em;
}


/*	 Blog posts */

.label--date {
	@include hide-visually();
}


.single-post {
	.page__title {
		margin-bottom: 0.8em;
	}
	.post__image {
		display: none;
	}
	.screen-reader-text {
		@include hide-visually();
	}
}

.nav-links {
    display: flex;
    width: 100%;
}
.nav-links > * {
    width: 50%;
}
.nav-next {
    text-align: right;
}
.prevnext__title {
    display: block;
}

.prevnext__name {
	@include font(serif-display, medium);
}
.nav-links *:only-child {
    width: 100%;
}
.readmore-link {
	@include font(sans-serif, xsmall-regular);
}



.edit-link {
	display: none;
	/*
	background: rgba(255,255,255,0.9);
	border-radius: 0.2em;
	padding: 0.2em 0.4em;
	position: absolute;
    right: 2em;
    top: 3em;
	z-index: 100;
	max-width: 10em;
    border: 1px solid #aaa;
    
    .screen-reader-text {
	    &:before {
		    content: '“';
	    }
	    &:after {
		    content: '”';
	    }	    
    }
    */
}



@media screen and (max-width: 40em) {
	.menu-item a {
		mix-blend-mode: unset;
	}
	.menu-main-navigation-container .current-menu-item a {
		color: #951829 !important;
	}
	.menu-main-navigation-container .current-menu-item > a {
		color: #fff !important;
	}
	.menu-main-navigation-container .current-menu-item a:hover {
		color: #fff !important;
	}

	ul.sub-menu a,
	ul.sub-menu li {
		font-size: 1rem;
		font-variation-settings: "wght" 360;
	}


	.page-child .u-NavSite__main .menu, .archive .u-NavSite__main .menu, .blog .u-NavSite__main .menu, .single-post .u-NavSite__main .menu {
		text-align: left;
	}

}




/*	Linked list module */

.wp-block-lazyblock-linked-list li {
    padding: 0.2em 0 0 0;
}
.wp-block-lazyblock-linked-list a {
    font-size: 0.9em;
    font-variation-settings: "wght" 400;
}




/*	UNIVERSAL NAV
	============= */

/* unibar overrides */

.u-NavSite--global {
	position: relative !important;
    z-index: 100 !important;
    background: #8f192b !important;
}
a.ac-skipLink.ac-NavAnchor--menu.icon {
	font-family: "Source Sans Variable" !important;
	font-size: 0.9em !important;
	font-variation-settings: "wght" 400 !important;
}



/*	Universal footer */

#vcF .u-ExtendedFooter__listHeader {
    color: #fffffe;
    font-family: "freight-big-pro","Georgia","Times","Times New Roman",serif;
    font-size: 1.5rem;
    padding: 0;
    text-transform: none;
    font-weight: bold;
}







//	add to u-page-child if this works

@media screen and (min-width: 60em) {
	.page-child.has-subnav .PageContentInner .u-NavSite__main, .has-subnav.archive .PageContentInner .u-NavSite__main, .has-subnav.blog .PageContentInner .u-NavSite__main, .has-subnav.single-post .PageContentInner .u-NavSite__main {
		grid-column: 4/span 8;
		background: #fbf4ec;
		padding-top: 3em;
	}
}