.list-upper-roman {
    list-style-type: upper-roman;
}
.list-lower-roman {
    list-style-type: lower-roman;
}
.list-upper-alpha {
    list-style-type: upper-alpha;
}
.list-lower-alpha {
    list-style-type: lower-alpha;
}
.list-lower-alpha-secondary {
	ul {
	    list-style-type: lower-alpha;
	}
}


.list-collection-unstyled-with-borders {
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4rem;
  }
}


.list-unstyled {
  padding: 0;
  list-style: none;

  &.items-have-borders li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4rem;
  }
}


.list-linkedList {
    padding: 0;
    list-style: none;

	a {
		text-decoration: none;
		display: block;
		padding: 0.2em 0;
		border-bottom: 1px solid #ddd;
	}
	li {
		margin: 0;

		&:last-child a {
			border: none;
		}
	}
}
