/*	UNIVERSAL NAV OVERRIDES
	=======================

	These adjust the main unibar styling to accommodate for differences on Offices (Offices has
	different breakpoints than the central styling, for example)
*/


#vcF, #vcH {
	position: absolute;
	width: 100%;
	
	#primary-menu {
		font-size: unset;
	}
}

.g-Masthead__ID {
	a {
		display: block;
		transition: 0.4s all ease;
		
		svg {
			fill: #eee !important;
			transition: 0.4s all ease;
		}
		
		&:hover {
			background: transparent !important;
			
			svg {
				opacity: 0.6;
			}
		}
	}
}

#vcF .g-Masthead__ID,
#vcH .g-Masthead__ID {
    color: #fefefe;
    background: #000;
    width: 11em;
    position: absolute;
    z-index: 120;
    padding: 1em 0.8em 0.6em;
    left: 0.8em;
}

@include break(small, max) {
	ul#primary-menu {
		margin: 0;
		padding: 0;
	    position: relative !important;
	    top: 0 !important;
	}
	#vcH #g-navigation .u-NavSite--global .menu-main-navigation-container {
		background: $cream;
		margin-top: 2em;
		padding: 2em !important;	
	}
}

#vcH .menu-main-navigation-container {
	@include break(small) {
		display: none !important;
	}
	
	a {
		@include font(sans-serif, regular);
		padding: 0.2em;
	}
}


@include break(small) {
	#vcF #g-Search, #vcH #g-Search {
	    z-index: 10 !important;
	}
}

.u-NavSite--global {
    display: flex;
}
.menu-main-navigation-container {
    order: 1;
}
.u-NavSite__sec--action {
    order: 2;
}
.u-NavSite__sec--roles {
    order: 3;
}
.u-NavSite__sec--landing {
    order: 4;
}



#vcF #g-navigation:target .u-NavSite,
#vcF #navigation:target .u-NavSite,
#vcH #g-navigation:target .u-NavSite,
#vcH #navigation:target .u-NavSite {
    padding-top: 3.75rem !important;
    transition-duration: 0.4s;
}
#vcF .g-Search__open, #vcF .g-Search__submit, #vcH .g-Search__open, #vcH .g-Search__submit {
    margin-right: -.0875rem;
    margin-right: -.16rem;
}
@include break(small) {
	#vcF #g-Search:target, #vcH #g-Search:target {
	    width: calc( 100% - 12.6vw);
	    z-index: 130;
	}
}
.g-Masthead * {
    transition-duration: 0.2s !important;
}
#vcF #g-Search:before, #vcH #g-Search:before {
	display: none;
}

@media screen and (max-width: $small) {
	#vcH #g-navigation .u-NavSite--global .menu-main-navigation-container {
	    margin-top: 0.6em;
	}
	#vcH .menu-main-navigation-container a {
		font-size: 1.4em;
	}
	.current_page_ancestor {
	    border-left: 2px solid rgba(0,0,0,0.6) !important;
	    /* background: rgba(0,0,0,0.1) !important; */
	}
	.current_page_ancestor li a {
	    font-size: 120% !important;
	}
	.current_page_ancestor > a {
	    background: rgba(0,0,0,0.6) !important;
	    color: #fff !important;
	}
	.current-menu-item a {
	    color: #fff !important;
	}
}






