.blocks-gallery-grid {
    padding: 0;
}
.wp-block-gallery {
	margin-bottom: 3em;

	.flickity-enabled {
		display: block !important;

		.blocks-gallery-item {
			display: block !important;
			margin: 0;
//			height: 100%;
		}
	}
	figcaption {
	    position: absolute;
	    bottom: 0;
	    z-index: 130;
	    left: 0;
	    background: rgba(0,0,0,1);
	    color: #fff;
	    min-height: 3rem;

		padding: 1em;
		padding-right: calc(100% - 56ch);
		width: 100%;
	}
}
.blocks-gallery-item {
		height: 58vw;

	@include break(large) {
		height: 38vw;
	}

	figure {
		height: 100%;
		width: 100%;
		padding-bottom: 3rem;
	}
	img {
		object-fit: cover;
		height: 100%;
	}
	.blocks-gallery-item__caption a:link,
	.blocks-gallery-item__caption a:visited {
		color: #aaa;
		text-decoration-color: #aaa;
	}
	.blocks-gallery-item__caption a:link:hover,
	.blocks-gallery-item__caption a:visited:hover,
	.blocks-gallery-item__caption a:link:active,
	.blocks-gallery-item__caption a:visited:active {
		background: #eee;
		color: #000;
		text-decoration: none;
	}
}


//  this is for the new gallery markup
//  https://www.koberoku.com/content/why-wordpress-5-9-broke-your-galleries-and-how-to-fix-it/

.wp-block-gallery.has-nested-images {
  .wp-block-image {
    width: 100%;
  }
}
