@media screen and (min-width: 60em) {
  .no-subnav.has-sidebar .u-lMain {
    grid-row: 2;
    grid-column: 1/span 9;
    padding-right: 0;
  }
}
@media screen and (min-width: 70em) {
  .no-subnav.has-sidebar .u-lContent {
    margin-left: 6%;
    max-width: none;
    padding-right: 0;
    width: 80%;
  }
}
.no-subnav.has-sidebar .site-main {
  max-width: 36em;
  margin: 0 auto;
}
@media screen and (min-width: 70em) {
  .no-subnav.has-sidebar .widget-area {
    column-count: 1;
    padding-left: 0;
    width: 16em;
  }
}
