html {
  // this is necessary because the breakout rows (group-row)
  // sometimes cause a horizontal scrollbar
  overflow-x: hidden;
}

.u-lHeader {
    margin-bottom: 2em;

    @include break(small) {
	    margin-bottom: 0;
    }
}
.site-title {
    padding-bottom: 1.6em !important;

    @include break(medium) {
	    padding-bottom: 1em !important;
	    padding-left: 1em !important;
    }
}

.u-Masthead__caption {
	display: none;

    @include break(small) {
		display: block;
    }
}


.page__title {
	margin-bottom: 0.8em;
}


.u-NavSite__main {
    @include break(medium) {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	}
}

// This net block is intended to ensure enough space
// between the page content and the footer.
//
// If the last item is a row with a background color, however,
// there should be no space between the row and the footer.

.u-lMain {
  padding-bottom: 0;
}
.entry__content > .group-row:last-child {
    padding-bottom: 6rem;
}
.entry__content > *:not(.group-row):last-child {
    margin-bottom: 6rem;
}


@import "_u-page-home";
@import "_u-page-parent";
@import "_u-page-sidenav-sidebar";
@import "_u-page-child";

@import "_news-pages";
@import "_fearlessly-consequential";