.page-child {
	.u-lHeader {
//		grid-column: 1 / span 3;
		padding: 2em;
		background: #fbf4ec;
		padding-top: 3em;
		padding-top: 5em;
		
		@include break(medium) {
			padding-top: 4em;
			padding-bottom: 1em;
		}
	}

	@media screen and (min-width: 40em) {
	}

	&:not(.has-subnav) {
		@include break(medium) {
			.PageContentInner {
				grid-template-areas:
			        "masthead nav-top"
			        "content content"
			        "footer footer";
			}
			.u-lHeader {
				grid-column: 1 / span 3;
//					padding: 2em;
				background: #fbf4ec;
				padding-top: 3em;

			}
			.u-NavSite__main {
				grid-column: 4 / span 8;
				background: #fbf4ec;
//					padding-top: 3em;
			}
		}
		@include break(large) {
			.u-NavSite__main {
				padding-top: 3em;
			}
		}
	}
	&.has-subnav {
		.PageContentInner {
			@include break(medium) {
				grid-template-areas:
			        "masthead nav-top"
			        "nav-secondary content"
			        "footer footer";

				.u-lHeader {
					grid-column: 1 / span 3;
					background: #fbf4ec;
				}
				.u-NavSite__main {
					grid-column: 4 / span 8;
					background: #fbf4ec;
				}
			}
		}
	}

	&.has-post-thumbnail {
		//	If a subpage has a featured image specified, and that featured image has
		//	a caption, this hides the caption
		
		.u-Masthead__caption {
			display: none;
		}
	}
	/*	Subpage. This is a page that's a child of a top-level section.
		These guys shouldn't have photo banners.
	*/

	.u-Masthead {
	    width: 100%;
	    text-align: center;
	    padding: 0 1em 1em;
	    
		@include break(small) {
			padding-top: 2em;
		}
		@include break(medium) {
			text-align: left;
			padding: 0;
		}
	}
	.u-NavSite__main {
		.menu {
			text-align: center;
			
			@include break(medium) {
				text-align: right;
			}
		}
	}

	.u-Masthead {
		padding: 0;
	}


}